---
import { general } from "../settings/general";
---

<head>
  <slot name="head">
    <title>{general.site_title}</title>
    <meta name="description" content={general.site_description} />
    <meta property="og:title" content={general.site_title} />
    <meta property="og:site_name" content={general.site_title} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={general.site_description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/seo-image.png" />
  </slot>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
